@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500&display=swap');
/* reset pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* regole generali */
body {
  font-family: Roboto, sans-serif;
  background-image: url("../img/default-pattern.png");
  background-repeat: repeat;
}
a {
  text-decoration: none;
}
#container {
  margin: 20px auto;
  width: 80%;
}
/* stile per i blocchi di testo */
.content, .feed, .widget {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px
}
.feed {
  padding: 0;
}
/* stili per i titoli e i paragrafi */
.title {
  line-height: 2em;
  font-size: 20px;
  font-weight: 500;
}
.article {
  line-height: 1.8em;
}
/* stili per i menu di navigazione */
.inline-menu {
  line-height: 50px;
}
.inline-menu li {
  display: inline-block;
  padding: 0 10px 0;
}
.inline-menu li a {
  color: #fff;
}
.inline-menu li a:visited {
  color: #fff;
}
.inline-menu li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
/* fine regole generali */

/* header del sito */
header {
  height: 400px;
  font-family: Montserrat;
  color: #fff;
  /* debug */
  /* background-color: yellow; */
}
/* logo */
#header-logo {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url("../img/bosco.jpg");
  background-position: center;
  border: 10px solid #fff;
  /* debug */
  /* background-color: green; */
}
#header-logo .mountains {
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translateX(-50%);
  /* font-size: 80px; */
  width: 80px;
}
.mountains img {
  width: 100%;
}
#header-logo .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  padding: 5px 20px;
  font-size: 60px;
}
#header-logo .subtitle {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  font-size: 20px;
  font-weight: 500;
}
/* menu navigazione */
#header-nav {
  width: 100%;
  height: 50px;
  background-color: #504741;
  text-align: center;
}

/* sezione principale */
.row {
  margin: 10px auto;
}
/* clearfix del main */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row aside {
  float: left;
  width: 20%;
}
.row main {
  float: left;
  width: 58%;
  margin: 0 1%;
  /* debug */
  /* height: 300px;
  background-color: violet; */
}
/* regole i feed */
aside .feed {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  /* debug */
  /* height: 400px;
  background-color: pink; */
}
.feed-title:after {
  content: "";
  display: table;
  clear: both;
}
.feed-title {
  height: 60px;
}
.feed-title .rss {
  float: left;
  width: 50px;
}
.feed-title .title {
  float: left;
  width: 50px;
  line-height: 1.3em;
  /* text-align: center; */
  margin: 5px;
}
.rss img {
  width: 100%;
}
.feed a {
  color: green;
}
.feed p {
  margin: 10px;
  line-height: 1.4em;
}
/* regole per i widget */
aside .widget {
  width: 100%;
  margin-bottom: 10px;
  /* debug */
  /* height: 200px; */
}

/* footer */
footer {
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  /* debug */
  /* background-color: lightblue; */
}
footer .copyright {
  height: 20px;
  font-style: italic;
  color: lightgrey;
  text-align: center;
  border-bottom: 1px solid lightgrey;
}
/* clearfix di parte social del footer */
footer .social:after {
  content: "";
  display: table;
  clear: both;
}
footer .social {
  height: 80px;
}
.social .facebook, .instagram, .github {
  float: left;
  width: 33.3%;
  text-align: center;
  line-height: 80px;
  /* debug */
  /* background-color: green;
  height: 100%; */
}
.facebook a, .instagram a, .github a {
  color: lightgrey;
}
